body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.mainContainer {
    min-width: 115em;
    min-height: 85em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    box-shadow: 16px 8px 64px 8px black;
}
.contentContainer {
    min-width: 1024px;
    min-height: 1024px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid;
}

.btnContainer {
    width: 25%;
    height: auto;
    background-color: slateblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.container#grid {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 1024px;
    height: 1024px;
    border: 1px solid black;
}

.cell {
    border: 1px solid black;
    box-sizing: border-box;
    width: 6.25%;
    height: 6.25%;
}

.colored {
    background-color: black;
}

button {
    width: 75%;
    height: 12.5%;
    font-size: 2.5rem;
    font-weight: 700;
    border: 2px solid black;
    border-radius: 16px;
    background-color: cornsilk;
}