.container#grid {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 1024px;
    height: 1024px;
}

.cell {
    border: 1px solid black;
    box-sizing: border-box;
    width: 6%;
    height: 6%;
}

.colored {
    background-color: burlywood;
}